
h1 {
  color: #1D2936;
  font-family: 'lato';
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 10px;
  line-height: 0px;
}

h4 {
  color: #858892;
  font-family: 'lato';
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  line-height: 25px;
}


/*This is the class found in the HTML string response*/
.searchmatch {
  text-decoration: underline;
  color: yellow;
}


.card {
  background-color: white;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  height: 100%;
  width: 500px;
  padding: 50px;
  display: block;
  overflow: auto;

}

.card-results {
  background-color: white;
  margin-top: 10px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  height: 140px;
  width: 380px;
  padding: 50px;

}

button {
  color: white;
  font-family: 'lato';
  font-size: 14px;
  font-weight: 800;
  background-color: #373833;
  border: none;
  margin-top: 30px;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding: 0px;
}


input {
  height: 40px;
  width: 97%;
  font-size: 15px;
  font-family: 'lato';
  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #D7D8DB;
  border-radius: 2px;
}

input:focus {
  border: 1px solid #3B60E4;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  outline: none;
}

::placeholder {
  color: #D7D8DB;
  font-weight: 400;
}

.title {
  color: #858892;
  opacity: .7;
  font-family: 'lato';
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
}


